/* Universal selector, to target all elements on the page */
* {
  /* Applies border box sizing to the root element */
  :root {
    box-sizing: border-box;
  }

  /* Tells to all elements and pseudo elements to inherit their box sizing */
  ::before,
  ::after {
    box-sizing: inherit;
  }
}

body {
  background-color: #eee;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  color: #fff;
  background-color: #0072b0;
  border-radius: .5em;
}

/* Fig bux with IE, to show main elements as blocks instead of inline */
main {
  display: block;
}

.container {
    display: flex;
}

.main{
  /*box-sizing: border-box;
  float: left; */
  width: 70%;
  background-color: #fff;
  border-radius: .5em;
}

.sidebar {
  /* box-sizing: border-box;
  float: left;
  margin-left: 1.5em; */
  /* width: calc(30% - 1.5em); Reduce the width by the applied margin to the sidebar */
  width: 30%;
  margin-left: 1.5em;
  padding: 1.5em;
  background-color: #fff;
  border-radius: .5em;
}
